<!-- Header -->
<header>
  <div class="container">
    <div class="row header-row">
      <div class="psa-logo">
        <a title="Planning and Statistics Authority Home Page">
          <img src="../assets/psa-logo.png" alt="planning and Statistics Authority Logo">
        </a>
        <span class="separator-logo">
          <img src="../assets/sep.png" alt="Logo Separator">
        </span>
        <span class="expo2023">
          <img src="../assets/expo2023-logo-white.png" alt="Expo 2023 Logo Doha Qatar">
        </span>
        <a href="#main-content" title="Skip navigation to read the main content">
        </a>
      </div>
    </div>
  </div>
</header>

<section class="lightBrown-bg">
  <div class="container">
    <div class="row">
      <div class="section-content">
        <div class="stats-subject-list">
          <div class="title">Dashboard</div>
          <div class="stats-subject-listItem row">
            <div class="col-md-4 stats-subject-item">
              <a href="https://mannai.cloud.looker.com/embed/dashboards/29?Year=&Port%20Name=&By%20Item=&Country%20Name=" target="_blank">
                Statistics
              </a>
            </div>
            <div class="col-md-4 stats-subject-item">
              <a href="https://lookerstudio.google.com/reporting/f026cf14-831c-4509-87c9-0e752b0f81b0/page/tEnnC?s=qCSr6f6Vsqk" target="_blank">
                Foreign Trade
              </a>
            </div>
            <div class="col-md-4 stats-subject-item">
              <a href="https://lookerstudio.google.com/reporting/f026cf14-831c-4509-87c9-0e752b0f81b0/page/tEnnC" target="_blank">
                Analysis
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="lightBlue-bg">
  <div class="container">
    <div class="row">
      <div class="section-content">
        <div class="stats-subject-list">
          <div class="title">Foreign Trade Advanced Search</div>
          <div class="py-4 fs-6">
            <strong>Foreign Trade Advanced Search System</strong> is a User portal for obtaining foreign trade data (exports and imports) is classified by commodity, value, quantity and country of destination \ origin at the 4-digit level of Harmonized System for exports (HS4) and the at the 8-digit level of the Harmonized System for imports (HS8).
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="card">
  <div class="card-body">
    <!-- <div class="input-group mb-3">
      <input type="text" class="form-control form-control-lg" placeholder="Search..." aria-label="Search" aria-describedby="search">
      <button class="btn btn-primary" type="button" id="search">Search</button>
    </div> -->
    <div class="row mb-5">
      <div class="col-md-12 pb-4">
        <div class="pagetitle-block">
          <div class="title fs-24">Advanced Search</div>
        </div>
      </div>
      <!-- Query -->
      <div class="col-md-6">
        <div class="title-block">
          <div class="title"><span>1</span>Query</div>
        </div>
        <div class="row ft-query-row">
          <div class="form-group col-md-6">
            <label for="ft-trade" class="fs-16 form-label">Trade</label>

            <ng-select [items]="trade" [multiple]="true" [(ngModel)]="filter.tradetype" bindLabel="name" bindValue="id"
              [clearable]="false">
              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div class="ng-value" *ngFor="let item of items">
                  <span class="ng-value-icon right" *ngIf="items.length > 1" (click)="clear(item)"
                    aria-hidden="true">×</span>
                  <span class="ng-value-label">{{item['name']}}</span>
                </div>
              </ng-template>
            </ng-select>
          </div>
          <div class="form-group col-md-6">
            <label for="ft-frequency" class="fs-16 form-label">Frequency</label>
            <select #ftFrequency class="form-control form-select" id="ft-frequency"
              (change)="onChangeFrequency(ftFrequency.value)">
              <option value="0">Select</option>
              <option value="M">Monthly</option>
              <option value="Q">Quarterly</option>
              <option value="Y" selected>Yearly</option>
            </select>
          </div>
        </div>
      </div>
      <!-- Period -->
      <div class="col-md-3">
        <div class="title-block">
          <div class="title"><span>2</span>Period</div>
        </div>
        <div class="row ft-year-row">
          <ng-container *ngIf="{ frequency: ftFrequencyValue$ | async } as vm">
            <!-- for year -->
            <div class="form-group col-md-12" *ngIf="vm.frequency === 'Y' || vm.frequency === '0'">
              <label for="year" class="fs-16 form-label">Year</label>
              <ng-select [items]="yearsAll" [multiple]="true" [(ngModel)]="filter.year" bindLabel="value"
                bindValue="value" groupBy="selectedAllGroup" [selectableGroup]="true" [selectableGroupAsModel]="false"
                [closeOnSelect]="false">
                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" />
                  Select All
                </ng-template>

                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" />
                  {{ item.value }}
                </ng-template>

                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                  <ng-container *ngIf="items.length !== yearsAll.length">
                    <div class="ng-value" *ngFor="let item of items | slice:0:2">
                      <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      <span class="ng-value-label">{{item['value']}}</span>
                    </div>
                    <div class="ng-value" *ngIf="items.length > 2">
                      <span class="ng-value-label">{{items.length - 2}} more...</span>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="items.length === yearsAll.length">
                    <div class="ng-value">
                      <span class="ng-value-label">All ({{yearsAll.length}})</span>
                    </div>
                  </ng-container>
                </ng-template>
              </ng-select>
            </div>
            <!-- for monthly -->
            <ng-container *ngIf="vm.frequency === 'M'">
              <div class="form-group col-md-6">
                <label for="year" class="fs-16 form-label">Year</label>
                <ng-select [items]="yearsAll" [multiple]="true" [(ngModel)]="filter.year" bindLabel="value"
                  bindValue="value" groupBy="selectedAllGroup" [selectableGroup]="true" [selectableGroupAsModel]="false"
                  [closeOnSelect]="false">
                  <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" />
                    Select All
                  </ng-template>

                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" />
                    {{ item.value }}
                  </ng-template>

                  <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                    <ng-container *ngIf="items.length !== yearsAll.length">
                      <ng-container *ngIf="items.length === 1">
                        <div class="ng-value" *ngFor="let item of items | slice:0:1">
                          <!-- <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span> -->
                          <span class="ng-value-label">{{item['value']}}</span>
                        </div>
                      </ng-container>
                      <div class="ng-value" *ngIf="items.length > 1">
                        <span class="ng-value-label">{{items.length}} more...</span>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="items.length === yearsAll.length">
                      <div class="ng-value">
                        <span class="ng-value-label">All ({{yearsAll.length}})</span>
                      </div>
                    </ng-container>
                  </ng-template>
                </ng-select>
              </div>

              <div class="form-group col-md-6">
                <label for="month" class="fs-16 form-label">Month</label>
                <ng-select [items]="monthsAll" [multiple]="true" [(ngModel)]="filter.monthly" bindLabel="name"
                  bindValue="value" groupBy="selectedAllGroup" [selectableGroup]="true" [selectableGroupAsModel]="false"
                  [closeOnSelect]="false">
                  <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" />
                    Select All
                  </ng-template>

                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" />
                    {{ item.name }}
                  </ng-template>

                  <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                    <ng-container *ngIf="items.length !== monthsAll.length">
                      <ng-container *ngIf="items.length === 1">
                        <div class="ng-value" *ngFor="let item of items | slice:0:1">
                          <span class="ng-value-label">{{item['name']}}</span>
                        </div>
                      </ng-container>
                      <div class="ng-value" *ngIf="items.length > 1">
                        <span class="ng-value-label">{{items.length}} more...</span>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="items.length === monthsAll.length">
                      <div class="ng-value">
                        <span class="ng-value-label">All ({{monthsAll.length}})</span>
                      </div>
                    </ng-container>
                  </ng-template>
                </ng-select>
              </div>
            </ng-container>
            <!-- for quarterly -->
            <ng-container *ngIf="vm.frequency === 'Q'">
              <div class="form-group col-md-6">
                <label for="year" class="fs-16 form-label">Year</label>
                <ng-select [items]="yearsAll" [multiple]="true" [(ngModel)]="filter.year" bindLabel="value"
                  bindValue="value" groupBy="selectedAllGroup" [selectableGroup]="true" [selectableGroupAsModel]="false"
                  [closeOnSelect]="false">
                  <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" />
                    Select All
                  </ng-template>

                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" />
                    {{ item.value }}
                  </ng-template>

                  <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                    <ng-container *ngIf="items.length !== yearsAll.length">
                      <ng-container *ngIf="items.length === 1">
                        <div class="ng-value" *ngFor="let item of items | slice:0:1">
                          <!-- <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span> -->
                          <span class="ng-value-label">{{item['value']}}</span>
                        </div>
                      </ng-container>
                      <div class="ng-value" *ngIf="items.length > 1">
                        <span class="ng-value-label">{{items.length}} more...</span>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="items.length === yearsAll.length">
                      <div class="ng-value">
                        <span class="ng-value-label">All ({{yearsAll.length}})</span>
                      </div>
                    </ng-container>
                  </ng-template>
                </ng-select>
              </div>

              <div class="form-group col-md-6">
                <label for="month" class="fs-16 form-label">Quarter</label>
                <ng-select [items]="quartersAll" [multiple]="true" [(ngModel)]="filter.quarterly" bindLabel="name"
                  bindValue="value" groupBy="selectedAllGroup" [selectableGroup]="true" [selectableGroupAsModel]="false"
                  [closeOnSelect]="false">
                  <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" />
                    Select All
                  </ng-template>

                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" />
                    {{ item.name }}
                  </ng-template>

                  <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                    <ng-container *ngIf="items.length !== quartersAll.length">
                      <ng-container *ngIf="items.length === 1">
                        <div class="ng-value" *ngFor="let item of items | slice:0:1">
                          <span class="ng-value-label">{{item['name']}}</span>
                        </div>
                      </ng-container>
                      <div class="ng-value" *ngIf="items.length > 1">
                        <span class="ng-value-label">{{items.length}} more...</span>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="items.length === quartersAll.length">
                      <div class="ng-value">
                        <span class="ng-value-label">All ({{quartersAll.length}})</span>
                      </div>
                    </ng-container>
                  </ng-template>
                </ng-select>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <!-- Country -->
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            <div class="title-block">
              <div class="title"><span>3</span>Country</div>
            </div>
            <div class="row ft-year-row">
              <div class="col-md-12">
                <label class="fs-16 form-label">Select Country</label>
                <ng-select [items]="cntry" [multiple]="true" [(ngModel)]="filter.country" bindLabel="name"
                  bindValue="name">
                </ng-select>


              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Code & Level -->
      <div class="col-md-12">
        <div class="title-block">
          <div class="title"><span>4</span>Code &amp; Level</div>
        </div>
        <div class="row ft-query-row">
          <div class="form-group col-md-6">
            <label class="fs-16 form-label">Code</label>
            <select #ftItemCode class="form-control form-select" id="ft-itemCode" [(ngModel)]="filter.code"
              (change)="onChangeCode(ftItemCode.value)">
              <option value="0">Select</option>
              <option value="HSCODE" selected>HSCODE</option>
              <option value="SITC">SITC</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label class="fs-16 form-label">Level</label>
            <select #ftItemLevel class="form-control form-select" id="ft-itemlevel" [(ngModel)]="filter.level"
              (change)="onChangeLevel(ftItemLevel.value)">
              <option value="0">Select</option>
              <option *ngFor="let level of levels$ | async" value="{{level}}">{{level}}</option>
              <!-- <option value="0">Select</option>
              <option value="2">2</option>
              <option value="4">4</option>
              <option value="8">8</option> -->
            </select>
          </div>
        </div>
      </div>
      <!-- Items -->
      <div class="col-md-12">
        <div class="title-block">
          <div class="title"><span>5</span>Items</div>
        </div>
        <div class="row ft-query-row">
          <!-- <div class="form-group col-md-6" id="div-ft-itemclassification">
            <label for="ft-trade" class="fs-16 form-label">Classification</label>
            <select class="form-control form-select" id="ft-itemclassification">
              <option value="-1">Select</option>
              <option value="0">0 Food and Live Animals</option>
              <option value="1">1 Beverages and Tobacco</option>
              <option value="2">2 Crude Materials, Incredible, Except Fuels</option>
              <option value="3">3 Mineral Fuels, Lubricants and Related Materials</option>
              <option value="4">4 Animal and Vegetable Oils, Fats and Waxes</option>
              <option value="5">5 Chemicals and Related Products N.E.S.</option>
              <option value="6">6 Manufactured Goods Classified Chiefly by Material</option>
              <option value="7">7 Machinery and Transport Equipment</option>
              <option value="8">8 Miscellaneous Manufactured Articles</option>
              <option value="9">9 Commodities and Transactions Etc</option>
            </select>
          </div> -->
          <div class="form-group col-md-6">
            <label for="ft-trade" class="fs-16 form-label">All Items</label>
            <ng-container *ngIf="{allItems: allItems$ | async, allItemsLoading: allItemsLoading$ | async} as vm">
              <ng-select [items]="vm.allItems" [multiple]="true" [(ngModel)]="filter.hscode" bindLabel="name"
                bindValue="value" groupBy="selectedAllGroup" [selectableGroup]="true" [selectableGroupAsModel]="false"
                [closeOnSelect]="false" [loading]="vm.allItemsLoading" [virtualScroll]="true">
                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" />
                  Select All
                </ng-template>

                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" />
                  {{ item.value }} - {{ item.name }}
                </ng-template>

                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                  <ng-container *ngIf="items.length !== vm.allItems.length">
                    <ng-container *ngIf="items.length === 1">
                      <div class="ng-value" *ngFor="let item of items | slice:0:1">
                        <!-- <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span> -->
                        <span class="ng-value-label">{{ item['name'] }} - {{item['value']}}</span>
                      </div>
                    </ng-container>
                    <div class="ng-value" *ngIf="items.length > 1">
                      <span class="ng-value-label">{{items.length}} selected</span>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="items.length === vm.allItems.length">
                    <div class="ng-value">
                      <span class="ng-value-label">All ({{vm.allItems.length}})</span>
                    </div>
                  </ng-container>
                </ng-template>
              </ng-select>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div class="col-md-12 mt-4">
        <div class="search-footer">
          <input type="button" class="btn btn-ft-primary me-2" value="Submit" (click)="search()">
          <input type="button" class="btn btn-ft-primary me-2" value="Export" (click)="export()">
          <input type="button" class="btn btn-ft-primary" value="Reset">
        </div>
      </div>
    </div>
    <!-- <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1" class="w-50">
        <button ngbNavLink class="w-100"><b>Import</b></button>

      </li>
      <li [ngbNavItem]="2" class="w-50">
        <button ngbNavLink class="w-100"><b>Export</b></button>
        <ng-template ngbNavContent>
          <div class="d-flex justify-content-end p-2 gap-2">
            <select class="form-select w-auto" aria-label="Filter Select">
              <option selected>Select</option>
              <option value="1">ID</option>
              <option value="2">Name</option>
              <option value="3">Status</option>
            </select>
            <input type="text" class="form-control w-auto" placeholder="Enter Filter Value" aria-label="Filter Value"
              aria-describedby="Filter Input">
            <button class="btn btn-outline-primary" type="button" id="filter">Apply</button>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Country</th>
                <th scope="col">Area</th>
                <th scope="col">Population</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let country of countries">
                <th scope="row">{{ country.id }}</th>
                <td>
                  <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="me-2"
                    style="width: 20px" />
                  {{ country.name }}
                </td>
                <td>{{ country.area | number}}</td>
                <td>{{ country.population | number }}</td>
              </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
              (pageChange)="refreshCountries()">
            </ngb-pagination>

            <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
              <option [ngValue]="2">2 items per page</option>
              <option [ngValue]="4">4 items per page</option>
              <option [ngValue]="6">6 items per page</option>
            </select>
          </div>
        </ng-template>
      </li>
    </ul> -->
    <div class="d-flex justify-content-end p-2 gap-2">
      <select class="form-select w-auto" aria-label="Filter Select">
        <option selected>Select</option>
        <option value="1">ID</option>
        <option value="2">Name</option>
        <option value="3">Status</option>
      </select>
      <input type="text" class="form-control w-auto" placeholder="Enter Filter Value" aria-label="Filter Value"
        aria-describedby="Filter Input">
      <!-- filter icon button -->
      <button class="btn btn-outline-primary" type="button" id="filter">Apply</button>
    </div>
    <table class="table table-striped">
      <thead>

        <tr>
          <th scope="col">Code</th>
          <th scope="col">Commodity</th>
          <th scope="col">Commodity Arabic</th>
          <th scope="col">Country</th>
          <th scope="col">Country AR</th>
          <th scope="col">Year</th>
          <th scope="col">Month</th>
          <th scope="col">Weight(Kg)</th>
          <th scope="col">Value(QAR)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of data">
          <th scope="row">{{ country.itemCode }}</th>
          <td>{{ country.hS8_ENG }}</td>
          <td>{{ country.hS8_ARB }}</td>
          <td>{{ country.countryName }}</td>
          <td>{{ country.countryName_ARB }}</td>
          <td>{{ country.year }}</td>
          <td>{{ country.month }}</td>
          <td>{{ country.weight }}</td>
          <td>{{ country.value }}</td>
        </tr>
      </tbody>
    </table>


    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="filter.count" [(page)]="filter.pageno" [pageSize]="filter.pagesize"
        (pageChange)="refreshCountries()" [maxSize]="10">
      </ngb-pagination>


    </div>
    <!-- <div [ngbNavOutlet]="nav" class="mt-2"></div> -->
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
